h1{
	font-family: Roboto;
} 
.wrapper{
	margin: auto;
	width: 80%;
} 
.logo, .menu{
display: inline-block;
} 
.logo{
	padding: 40px 0;
	width: 190px;
	height: 35px;
	background: center no-repeat url('logo.svg');
} 
.header{
	display: flex;
  justify-content: space-between;
} 
.menu{
	display:flex;
	align-items: center;
} 
.menu__item{
	padding: 0 13px;
	font: 500 18px/20px Roboto,arial6 helvetica,sans-serif;
	color:#000;
	text-decoration: none;
} 
.menu__item_active::after{
	display: block;
	content: '';
	width: 68px;
	height: 3px
	background:#0056EC;
}